/* Make sure this wraps your sidebar width */
.sidebar {
  width: 250px;
  transition: width 0.3s ease;
}



/* When screen size is below 768px */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .sidebar .nav-link {
    justify-content: center;
  }

  .sidebar .nav-link span {
    display: none;
  }
}
